{{> warning}}
{{> error}}

<div class="row">
    <div class="col-md-12">
        <h2>查找</h2>
    </div>
</div>

{{#unless nsqlookupd.length}}
<div class="alert alert-warning">
    <h4>Notice</h4> nsqadmin未配置nsqlookupd主机
</div>
{{else}}
<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-condensed">
            <tr>
                <th>nsqlookupd 地址</th>
            </tr>
            {{#each nsqlookupd}}
            <tr><td>{{this}}</td></tr>
            {{/each}}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {{#if topics}}
        <div class="alert alert-info">
            Below is a tree of Topics/Channels that are currently inactive (i.e. not produced on any nsqd in the cluster but are present in the lookup data)
        </div>
        <ul>
            {{#each topics}}
            <li>
                <button class="btn-link red delete-topic-link" data-topic="{{name}}" style="padding: 0 6px; border: 0;">✘</button> <a class="link" href="{{basePath "/topics"}}/{{name}}">{{name}}</a>
                <ul>
                    {{#each channels}}
                    <li>
                        <button class="btn-link red delete-channel-link" data-topic="{{../name}}" data-channel="{{this}}" style="padding: 0 6px; border: 0;">✘</button> <a class="link" href="{{basePath "/topics"}}/{{../name}}/{{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="alert alert-warning"><h4>Notice</h4>无不活跃主题</div>
        {{/if}}
    </div>
</div>

{{#if isAdmin}}
<div class="row">
    <div class="col-md-4">
        <form class="hierarchy">
            <legend>创建 主题/频道</legend>
            <div class="alert alert-info">
                <p>这里提供了一种在服务部署之前来设置主题/频道的方法。
                <p>如果 <em>频道名称</em>是空的, 那么只有主题会被创建.
            </div>
            <div class="form-group">
                <input type="text" name="topic" placeholder="主题名称">
                <input type="text" name="channel" placeholder="频道名称">
            </div>
            <button class="btn btn-default" type="submit">创建</button>
        </form>
    </div>
</div>
{{/if}}
{{/unless}}
